<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- Quarkus Language -->
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"            
            file-extensions="qute"
            id="com.redhat.qute.lsp4e"
            name="Qute"
            priority="normal">
      </content-type>
   </extension>
      
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="com.redhat.qute.lsp4e"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
      
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="com.redhat.qute.lsp4e.QuteLanguageServer"
            id="com.redhat.qute.lsp4e"
            label="Qute Language Server"
            singleton="true" >
      </server>
      <contentTypeMapping
            contentType="com.redhat.qute.lsp4e"
            id="com.redhat.qute.lsp4e">
      </contentTypeMapping>
   </extension>
   
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            path="./syntaxes/qute.tmLanguage.json"
            scopeName="grammar.qute">
      </grammar>
      <grammar
            path="./syntaxes/qute-html.tmLanguage.json"
            scopeName="text.html.qute">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="com.redhat.qute.lsp4e"
            scopeName="text.html.qute">
      </scopeNameContentTypeBinding>
   </extension>

   <extension
         point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration
            contentTypeId="com.redhat.qute.lsp4e"
            path="language-configurations/language-configuration.json">
      </languageConfiguration>
   </extension>
        
</plugin>